<!DOCTYPE html>
<html lang="en-IN">

<head>
  <%- include('partials/style') %>
</head>
<body>
  <%- include('partials/pageHeader') %>
  <%- include('partials/detailed', {awsAccountId, servicesHasData, currentDate}) %>
</body>

</html>