.dashboard-content {
    margin-top: 20px;
}

table {
    width: 100%;
    overflow: auto;
    max-height: 500px;
    .service-name {
        font-weight: bold;
    }
}

tr:hover {
    background-color: rgb(223, 223, 223);
  }

.column-header {
    font-size: 120%;
    text-align: center;
    background-color: rgb(199, 199, 199);
}

.column-desc-alert {
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    color: red;
}

.column-desc-normal {
    cursor: pointer;
    text-align: center;
}