.dashboard-content {
  margin-top: 20px;
}
table {
    width: 100%;
    overflow: auto;
    max-height: 500px;
    .service-name {
      font-weight: bold;
    }
  }

.column-header {
  font-size: 120%;
}

.column-desc-good {
  text-align: center;
  background-color: rgb(6, 165, 32)
}

.column-desc-alert {
  text-align: center;
  background-color: rgb(221, 31, 6)
}

.column-desc-normal {
  text-align: center;
  background-color:lightgray;
}

